{% extends 'base.html.twig' %}

{% block title %}New Compositions{% endblock %}

{% block body %}
    <h1>Create new Compositions</h1>

    {{ include('compositions/_form.html.twig') }}

    <a href="{{ path('compositions_index') }}">back to list</a>
{% endblock %}
